[package]
name = "rlua"
version = "0.18.0-alpha.0"
authors = ["kyren <kerriganw@gmail.com>"]
edition = "2018"
description = "High level bindings to Lua 5.x"
repository = "https://github.com/kyren/rlua"
documentation = "https://docs.rs/rlua"
readme = "README.md"
keywords = ["lua"]
license = "MIT"

[badges]
circle-ci = { repository = "amethyst/rlua", branch = "master" }

[features]
default = ["builtin-lua54"]
# Builds the correct version of Lua 5.4 inside the crate. If you want to link a
# specialized version of lua into your binary, you can disable this feature to
# do that, but care must be taken.  `rlua` makes at least the following
# assumptions about the linked lua library:
#   * LUA_INTEGER is long long
#   * LUA_NUMBER as double
#   * LUA_EXTRASPACE is at least pointer sized and has at least pointer alignment.
#   * LUAI_MAXSTACK is 1_000_000
builtin-lua54 = ["cc"]
# Builds the correct version of Lua 5.3 inside the crate. If you want to link a
# specialized version of lua into your binary, you can disable this feature to
# do that, but care must be taken.  `rlua` makes at least the following
# assumptions about the linked lua library:
#   * LUA_INTEGER is long long
#   * LUA_NUMBER as double
#   * LUA_EXTRASPACE is at least pointer sized and has at least pointer alignment.
#   * LUAI_MAXSTACK is 1_000_000
builtin-lua53 = ["cc"]

# Uses pkg-config to find an appropriate lua 5.{1,3,4} library to link with as
# specified.  The caveats about disabling the default builtin-lua feature apply
# here as well.  If neither the builtin-lua* nor the system-lua* feature is
# enabled, then no lua library will be linked at all and one must be linked
# with or built into the final binary manually.  The builtin-lua* and system-lua*
# features are mutually exclusive and enabling both will cause an error at
# build time.
system-lua51 = ["pkg-config"]
system-lua53 = ["pkg-config"]
system-lua54 = ["pkg-config"]

[dependencies]
libc = { version = "0.2" }
num-traits = { version = "0.2.14" }
bitflags = { version = "1.0.4" }
bstr = {version = "0.2", features = ["std"], default_features = false }

[build-dependencies]
cc = { version = "1.0", optional = true }
pkg-config = { version = "0.3.11", optional = true }

[dev-dependencies]
rustyline = "6.0"
criterion = "0.3.0"
compiletest_rs = { version = "0.4", features = ["stable"] }

[[bench]]
name = "benchmark"
harness = false
